<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

    <div class="auth-container">

        <div class="auth-box">

            <h1>
                Welcome Back
            </h1>

            <p>
                Login to continue your learning journey
            </p>

            <form
                action="{{ url_for('login') }}"
                method="POST"
            >

                <div class="input-group">

                    <label>
                        Email
                    </label>

                    <input
                        type="email"
                        name="username"
                        placeholder="Enter your email"
                        required
                    >

                </div>

                <div class="input-group">

                    <label>
                        Password
                    </label>

                    <input
                        type="password"
                        name="password"
                        placeholder="Enter your password"
                        required
                    >

                </div>

                <button
                    type="submit"
                    class="auth-btn"
                >
                    Login
                </button>

            </form>

            <div class="auth-link">

                Don't have an account?

                <a href="{{ url_for('register') }}">
                    Register
                </a>

            </div>

        </div>

    </div>

</body>
</html>